.box{
	float: left;
	width: 32%;
	padding: 15px;
	text-align: center;

}

#aboutsection1{
	padding: 20px;
	margin:20px;
	border:#cccccc 1px solid;
}

footer{
	margin-top: 20px;
	padding:20px;
	color:#ffffff;
	background-color: #e8491d;
	text-align: center;
}

#aboutarticle2{
	float: left;
	width: 60%;
	margin-top: 20px;
	padding: 20px;
	font-family: Impact;
	font-size: 50px;
	color: #e8491d;
	font-weight:bold;
	position: relative;
	top:70px;
	left: 60px;
	
}
#aboutaside{
	float: right;
	width: 40%;
	margin-left:20px;
	padding: 20px;
}

#aboutsection2{
	height: 350px;
	overflow: hidden;
	border-bottom: #606060 1px solid;
}

/*BUTTON*/
.button_1{
	background-color: #e8491d;
	border: 0;
	color: #ffffff;
	margin: 10px;
	padding: 10px;
	height: 35px;
}

/*Form in about page*/

.aboutform{
	background-color:#35424a;
	color: #ffffff;
	text-align: center; 
	margin: 10px;
	padding: 10px;
	position: relative;
	top:-95px;
	left:-55px;
}

#aboutaside input[type="name"]{
	width: 200px;
	height: 25px;
}
#aboutaside input[type="email"]{
	width: 200px;
	height: 25px;
}
/*Common Section on all the pages*/
.commonsection{
	float: left;
	width: 30%;
	padding: 15px;
	text-align: center;
}